<footer role="contentinfo" id="site-footer" class="text-center" style="margin-top: 30px; font-size: 0.9em;">

 © 2025 Jean-Baptiste Guiffard · Built with R Markdown

<!-- /.bottom-menu -->
	<p 
<div class="social-links">
  <a href="https://bsky.app/profile/jbguiffard.bsky.social" target="_blank"><img src="images/Bluesky_Logo.png" alt="Bluesky"></a>
  <a href="https://www.linkedin.com/in/jean-baptiste-guiffard-b7063090/" target="_blank"><img src="images/logo-linkedin.png" alt="LinkedIn"></a>
  <a href="https://github.com/jeanbaptisteguiffard" target="_blank"><img src="images/github_logo.png" alt="Github"></a>
</div>
		
</p>
</footer>

